<p>HI!</p>

<div class="ti-2">
  <p>
    我叫楊竑昕，來自台灣高雄，出生於 1995 年。
  </p>
  <p>
    在逢甲大學時，因為自控系屬於電機領域，在接觸到 8051、PLC 以及 Arduino 時需要寫程式控制硬體，那時覺得跟硬體電路設計比起來，寫程式在 debug 的過程方便多了，也因如此我開始對程式設計產生興趣，雖然我的本科成績優異，可以推徵上不錯的學校，但比起電機領域我更想要待在軟體領域，也因此我放棄了推徵，當同學們在補習班苦讀工數與自動控制時，我到資工系選修了許多基礎課程，取得了第二學程， 投入許多時間學習與實踐，將所缺乏的資料結構、作業系統、演算法、物件導向、資料庫、測試等基本功補齊。
  </p>
  <p>
    大學畢業後我想直接進入業界，但家人希望我能夠考取個碩士，為了家庭和諧我報名了同在高雄的中山大學資管所考試交差，當時我把時間都花費在求職上，憑著課堂上的記憶參加考試，並無抱持任何期待，當完補充兵然後開始上班，這時卻收到了入學通知，就這樣誤打誤撞開始了我的碩士生涯，加入了郭峰淵老師的實驗室，藉由文字探勘與自然語言處理等技術，搭配之前我學的網頁前後端知識，研究社群網站的對話健康。
  </p>
  <p>
    閒暇之餘我喜歡參與程式社群認識業界前輩；關注技術趨勢文章；翻翻 Github Trendings；做些 side projects，擅長的語言是 Ruby，有自信其他的語言也可以快速上手，希望你會喜歡我的作品。
  </p>
</div>