@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

@media print {
  #introduction, #skills, .education, .experience {
    break-inside: avoid;
  }
  footer {
    display: none;
  }
}
